name: Github Action Demo
run-name: ${{ github.actor }} is testing out GitHub Actions 
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
#Defining inputs for manually triggered workflows
  workflow_dispatch:
    inputs:
      component:
        description: 'AWS Resources to be deployed'
        required: true
        type: string

jobs:
  Check-aws-login:
    runs-on: ubuntu-latest
    env:
      ACCESS_KEY_ID: ASIA2QIXXJAZGM3XKBFR
      SECRET_ACCESS_KEY: 8XlyQBFeqc7sZ+sGa92AROu1yNFhBOd2NPF8u/qO
      AWS_SESSION_TOKEN: IQoJb3JpZ2luX2VjEJv//////////wEaDmFwLXNvdXRoZWFzdC0yIkYwRAIgFJEEMZsju4M/2QeXYgYa09eRfSJj1y/V2PXuZ7Ndt8YCIBX8VrFXZdXJ364A37rfXqdOeHZJAS+DOIyrY2x/O14wKqADCGQQAxoMNzIyMTQxMTM2OTQ2IgxerXF7vjJWtatFM7Aq/QJTDXPB8DGWf2Lf5naSA8/Ixgc1w2qkBNpVOYOMMUeWi3NH39AUZ3tHue/0pNaGBphXXx68Qs8uJKZafpBqoBPvGutaUz3UrgzgfWEoBu5VzRkGAYX6lckyvUuYFKe1DWtV8I0hoa9CqYT6U6S4nboTfFfT4AEBgrSCcyXZrp/n953/9HWT2snz0YvG3tj3n9xn95zLIdihSvQTT5Ieg1QWp3dF3mBz4gi28dGJquAzUlm/aaMBw9jtoSJknxYYHuQspIRdpxNZ/6j8YbT9qbdWp9JxA9H9J9Vhx0+rWYMj5fdT6oBRwkE4jdqCO4VmW5dErCWF6kbTrK6FhswVQx2K7ccPNxbCSXLkr5oOynNVDIyJYk1CNC8n1MnwKqlBOHKEwvbZ5j5IUH0r19VuCWHdRvkYwOwjShnGhwpyppBWTJC4fIcmgj35pbbBx3xx3qj5HPPtop790aySYB+hc0SD7gOmtvzDcOOFB22CUNilXNbXwgqwFhsw9q3F5Iww0eeEygY6pQHdOv8eOJslzW6vKyWEyUr91cEx/Ex0mnHmE4zocDcA0SBgfvHXUH4cLJjEOlXyrfkl8KH4ffJVsFDKDF8wH+BfJYh4bNKaxr740Ao/qMuTuhDzwJdf7wBDilcH4MVtxQcAqewcBorjeACBft1oPonHbEE1SIoo5Rsgl4vz7SZ0jJAKmsEqBEDz3Ria9+/Fq7OxbzCMD8zKazM+0i3PkU0KMvixehA=
    steps:
      - uses: actions/checkout@v3
      - run: |
          ls -la
          make sts
  
  generate-network-run-plan:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        component: ["vpc"]
    steps:
      - uses: actions/checkout@v3
      - name: Run make init
        run: |
          ACCOUNT_GROUP=infrastructure ACCOUNT_DOMAIN=network COMPONENT=${{ matrix.component }} make init
      - name: Run make plan
        id: plan
        run: |
          ACCOUNT_GROUP=infrastructure ACCOUNT_DOMAIN=network COMPONENT=${{ matrix.component }} make plan >> out.plan
          echo 'plan<<EOF' >> $GITHUB_OUTPUT
          echo ":orange_circle:" >> $GITHUB_OUTPUT
          echo "\`\`\`" >> $GITHUB_OUTPUT
          cat out.plan >>  $GITHUB_OUTPUT
          echo "\`\`\`" >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT

      - name: Display plan output
        run: |
          echo "${{ steps.plan.outputs.plan }}"
      
      - name: Comment PR
        if: github.event_name == 'pull_request'
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            ${{ steps.plan.outputs.plan }}
          GITHUB_TOKEN:  ${{ secrets.github_token }}
      
      - name: Terraform Apply
        id: apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: |      
          ACCOUNT_GROUP=infrastructure ACCOUNT_DOMAIN=network COMPONENT=${{ matrix.component }} make apply

  generate-identity-ssm-plan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run ansible make init
        run: |
          ACCOUNT_GROUP=infrastructure ACCOUNT_DOMAIN=identity COMPONENT=session-manager make init
      - name: Run ansible make plan
        id: plan
        run: |
          ACCOUNT_GROUP=infrastructure ACCOUNT_DOMAIN=identity COMPONENT=session-manager make plan >> out.plan
          echo 'plan<<AOE' >> $GITHUB_OUTPUT
          echo ":orange_circle:" >> $GITHUB_OUTPUT
          echo "\`\`\`" >> $GITHUB_OUTPUT
          cat out.plan >> $GITHUB_OUTPUT
          echo "\`\`\`" >> $GITHUB_OUTPUT
          echo 'AOE' >> $GITHUB_OUTPUT
      - name: Comment PR
        if: github.event_name == 'pull_request'
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            ${{ steps.plan.outputs.plan }}
          GITHUB_TOKEN:  ${{ secrets.github_token }}
      - name: Run ansible make apply
        id: apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: |      
          ACCOUNT_GROUP=infrastructure ACCOUNT_DOMAIN=identity COMPONENT=session-manager make apply
  
  generate-workload-ansible-plan:
    runs-on: ubuntu-latest
    needs: generate-identity-ssm-plan
    steps:
      - uses: actions/checkout@v3
      - name: Run ansible make init
        run: |
          ACCOUNT_GROUP=workloads ACCOUNT_DOMAIN=ansible COMPONENT=ansible make init
      - name: Run ansible make plan
        id: plan
        run: |
          ACCOUNT_GROUP=workloads ACCOUNT_DOMAIN=ansible COMPONENT=ansible make plan >> out.plan
          echo 'plan<<AOE' >> $GITHUB_OUTPUT
          echo ":orange_circle:" >> $GITHUB_OUTPUT
          echo "\`\`\`" >> $GITHUB_OUTPUT
          cat out.plan >> $GITHUB_OUTPUT
          echo "\`\`\`" >> $GITHUB_OUTPUT
          echo 'AOE' >> $GITHUB_OUTPUT
      - name: Comment PR
        if: github.event_name == 'pull_request'
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            ${{ steps.plan.outputs.plan }}
          GITHUB_TOKEN:  ${{ secrets.github_token }}
      - name: Run ansible make apply
        id: apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: |      
          ACCOUNT_GROUP=workloads ACCOUNT_DOMAIN=ansible COMPONENT=ansible make apply

  generate-master-node-plan:
    runs-on: ubuntu-latest
    needs: generate-identity-ssm-plan
    steps:
      - uses: actions/checkout@v3
      - name: Run master node make init
        run: |
         ACCOUNT_GROUP=workloads ACCOUNT_DOMAIN=k8s COMPONENT=test-k8s make init
      - name: Run ansible make plan
        id: plan
        run: |
          ACCOUNT_GROUP=workloads ACCOUNT_DOMAIN=k8s COMPONENT=test-k8s make plan >> out.plan
          echo 'plan<<AOE' >> $GITHUB_OUTPUT
          echo ":orange_circle:" >> $GITHUB_OUTPUT
          echo "\`\`\`" >> $GITHUB_OUTPUT
          cat out.plan >> $GITHUB_OUTPUT
          echo "\`\`\`" >> $GITHUB_OUTPUT
          echo 'AOE' >> $GITHUB_OUTPUT
      - name: Comment PR
        if: github.event_name == 'pull_request'
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            ${{ steps.plan.outputs.plan }}
          GITHUB_TOKEN:  ${{ secrets.github_token }}
      - name: Run master node make apply
        id: apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: |      
          ACCOUNT_GROUP=workloads ACCOUNT_DOMAIN=k8s COMPONENT=test-k8s make apply